@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgba(0, 0, 0, 0);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #6B7280;
    border-radius: 100vh;
  }
}

*:focus {
  outline: none;
}
